.jumbotron {
   background-color: yellow;
   color: black;
   margin-top: 50px;
} 

footer {
   padding: 10px 10px 0 10px;
   background-color: yellow;
   margin-bottom: 0px;
   margin-top: 10px;
}
.card_hotel {
   flex: 1 200px;
   margin-top: 10px;
}

.btn_reserva {
   width: 100%;
   border-radius: 0px;
}
.footer-icon {
   padding-right: 8px;
}
.btn-contacto {
   padding-bottom: 11.49px;
}
