$yellow: #e8eb34;
$red: #e8eb34;
$green: #7ce693;

@mixin margenes($top, $bottom) {
   margin-top: $top;
   margin-bottom: $bottom;
}

.jumbotron {
   background-color: $yellow;
   color: black;
   @include margenes(50px, 10px);
} 

footer {
   padding: 10px 10px 0 10px;
   background-color: $yellow;
   @include margenes(50px, 10px);
}
.card_hotel {
   flex: 1 200px;
   @include margenes(50px, 10px);
}

.btn_reserva {
   width: 100%;
   border-radius: 0px;
}
.footer-icon {
   padding-right: 8px;
}
.btn-contacto {
   padding-bottom: 11.49px;
}
