.jumbotron {
  background-color: #e8eb34;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e8eb34;
  margin-top: 50px;
  margin-bottom: 10px; }

.card_hotel {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 10px; }

.btn_reserva {
  width: 100%;
  border-radius: 0px; }

.footer-icon {
  padding-right: 8px; }

.btn-contacto {
  padding-bottom: 11.49px; }
